CHATBOT_SERVICE_PORT=3004
DATABASE_URL="postgresql://postgres@localhost:5432/nest_clean_architecture"
GEMINI_API_KEY=
DASHSCOPE_API_KEY=
KEY_NAME=
GG_PROJECT_NAME=
GG_PROJECT_NUMBER=
CHATBOT_MAX_VECTOR_DISTANCE=0.5
CHATBOT_MATCH_COUNT=5
